<div class="home-nav">
	<a href="https://github.com/kaitohara/pulse" id="about">
		Fork Me on GitHub!
	</a>
</div>
<section id="home" class="home">
	<!-- <a ng-click="joinPlaylist()">Join a Playlist</a> -->
	<div class="container home-container">
		<h1><i class="fa fa-music"></i></h1>
		<!-- <h1>Pulse</h1> -->
		<img src="/resources/PulseIcon.png" width="160px">
		<br><br>
		<a ui-sref="playlist" ng-click="startPlaylist()"><button>START A PLAYLIST</button></a>
		
		<br><br><br>
		<p>EVERYONE IN THE ROOM CAN SYNC THEIR PHONES TO ADD TO THE PLAYLIST!</p>
	<!-- <a ng-click="joinPlaylist()">Join!</a> -->
		<!-- <div ui-view class="container"></div> -->
	</div>
</section>

<div class="footer col-lg-12">
<p class="sub-title"> Powered By </p> <img src="/resources/spotify.png" height="25px">
</div>